html 
    head
        title= title
    body
        each breadditor in breadditors
            ul
                li= breadditor.name
                li= breadditor.email
                li= breadditor.country
                li= breadditor.password